/****** GENERAL ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  padding: 0 50px;
}

/*********** HEADER ***********/

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

/* LOGO */
.logo {
  height: 20px;
}

/* LISTE DES LIENS */
.animationLien {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.animationLien li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  position: relative;
  padding: 5px 0;
}

/* EFFET HOVER (BLEU + TRAIT AU-DESSUS) */
.animationLien li a:hover {
  color: var(--main-color);
}

.animationLien li a::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.animationLien li a:hover::before {
  transform: scaleX(1);
}

a {
  color: inherit;
  text-decoration: none;
}

/******* SECTION RECHERCHE ************/

.sectionRecherche {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* TITRES */

.titreRecherche .sstitreRecherche {
  margin: 5px;
}

/* CONTENEUR DE LA BARRE DE RECHERCHE */
.recherche {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  max-width: 500px;
  margin: 35px 0;
}

/* ICÔNE DE LOCALISATION */
.recherche i {
  padding: 18px;
  background-color: var(--main-bg-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black;
}

/* CHAMP DE RECHERCHE */
.recherche input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
  font-weight: 600;
  font-size: 18px;
}

/* BOUTON DE RECHERCHE */
.recherche button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icone-bouton {
  display: none;
}

/* LES FILTRES */

.filtres {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.filtres h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.listeFiltre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lienFiltre:hover {
  background-color: #deebff;
}

.lienFiltre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border: solid 2px #d9d9d9;
  padding: 4px 19px;
  margin: 15px 0 15px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border-radius: 25px;
}

.lienFiltre .fa-solid {
  margin-right: 10px;
}

/* INFO LOGEMENT */

.info-logement {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
}

.info-logement i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  border: solid 3px #d9d9d9;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

/* FIN SECTION RECHERCHE */

/****** HEBERGEMENTS AND POPULAIRES ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** HEBERGEMENTS ***********/
.hebergements {
  width: 65%;
}

.hebergement-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin-top: 30px;
}

.card-hebergement {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.hebergement-cards img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border: solid 5px #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergement-cards .card-content {
  padding: 0 15px;
  line-height: 1.3em;
  padding-bottom: 10px;
}

.hebergement-cards .card-title {
  margin-top: 4px;
  margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
  margin-top: 4px;
  margin-bottom: 8px;
}

/****** POPULAIRES ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******* ACTIVITES *********/

.activites {
  margin-bottom: 35px;
  padding: 30px;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 30px;
}

.activiteCard {
  width: calc((100% / 4) - (90px / 4));
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 3px 15px #0000001a;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activiteCard h3 {
  font-size: 1em;
  padding: 19px 20px;
}

/******** FOOTER ********/

.bloc-container {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.bloc-footer,
.bloc-hebergements,
.bloc-assistance {
  width: 446.67px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.bloc-footer h4,
.bloc-hebergements h4,
.bloc-assistance h4 {
  margin: 0;
}

.liste-apropos,
.liste-hebergements,
.liste-assistance {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Afficher la loupe et masquer le texte sur mobile */
  .texte-bouton {
    display: none;
  }

  .icone-bouton {
    display: inline;
    font-size: 15px;
  }

  .recherche {
    overflow: visible;
  }

  .recherche button {
    padding: 5px;
    border-radius: 14px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.292),
      0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  .recherche i {
    padding: 10px;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
  }
}
